<div class="comment inline" data-id="<%= comment.id %>" data-timestamp="<%= comment.timestamp %>">
    <div class="content">&#9654; <%= comment.inline_content %></div>
    <div class="metadata"><% if comment.author %><cite><%= comment.author %></cite><% end %></div>
</div>
