<div id="sitedescription">
  <div class="inner">
    <a class="close">&times;</a>
    <% if DESCRIPTION_PAGE %>
      <h2><%= DESCRIPTION_PAGE.title %></h2>
      <div class="description"><%= DESCRIPTION_PAGE.rendered_content %></div>
    <% else %>
      <h2><%= SITE_DESCRIPTION %></h2>
    <% end %>
  </div>
</div>
